Repository FallenDeity/Rhythm: changes, and which pre-commit hooks are due for each by the changed paths.
All: Format, xstyler

.pre-commit-config.yaml:

repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md
      - id: check-toml
      - id: check-added-large-files
      - id: check-xml

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-use-type-annotations
      - id: python-check-blanket-noqa

    # C# WinUi App
  - repo: local
    hooks:
      - id: Format
        name: Format
        entry: dotnet
        language: system
        types: [file]
        files: \.(cs|csproj|vb|xaml)$
        args: [format, Rhythm.sln]
        pass_filenames: false
        description: "Format C# and XAML files"
        exclude: ^obj/|^bin/

      - id: xstyler
        name: xstyler
        entry: xstyler
        language: system
        types: [file]
        files: \.(xaml)$
        args: [-r, -d, ./, -c, Settings.XamlStyler]
        pass_filenames: false
        description: "Format C# and XAML files"
        exclude: ^obj/|^bin/|^build/

      - id: Restore
        name: Restore
        entry: dotnet
        language: system
        args: [msbuild, Rhythm.sln, '/t:Restore', '/p:Configuration=Release']
        pass_filenames: false
        description: "Restore the application"

      - id: Build x86
        name: Build x86
        entry: dotnet
        language: system
        args: [msbuild, Rhythm.sln, '/p:Configuration=Release', '/p:Platform=x86', '/p:UapAppxPackageBuildMode=SideloadOnly', '/p:AppxBundle=Never', '/p:PackageCertificateKeyFile=Rhythm_TemporaryKey.pfx', '/p:AppxPackageDir="../build/"', '/p:GenerateAppxPackageOnBuild=true']
        pass_filenames: false
        description: "Build the application"

      - id: Build x64
        name: Build x64
        entry: dotnet
        language: system
        args: [msbuild, Rhythm.sln, '/p:Configuration=Release', '/p:Platform=x64', '/p:UapAppxPackageBuildMode=SideloadOnly', '/p:AppxBundle=Never', '/p:PackageCertificateKeyFile=Rhythm_TemporaryKey.pfx', '/p:AppxPackageDir="../build/"', '/p:GenerateAppxPackageOnBuild=true']
        pass_filenames: false
        description: "Build the application"

feat: Edit settings page
  Rhythm.sln
  Rhythm/Rhythm.csproj
  Rhythm/Strings/en-us/Resources.resw
  Rhythm/ViewModels/SettingsViewModel.cs
  Rhythm/Views/SettingsPage.xaml
  Rhythm/Views/SettingsPage.xaml.cs
  Rhythm/Views/ShellPage.xaml
Due: Format, xstyler

feat: Add register and login mechanism
  Rhythm/App.xaml.cs
  Rhythm/Assets/StoreLogo.png
  Rhythm/Contracts/Services/ILocalSettingsService.cs
  Rhythm/MainWindow.xaml
  Rhythm/Package.appxmanifest
  Rhythm/Rhythm.csproj
  Rhythm/Services/ActivationService.cs
  Rhythm/Services/LocalSettingsService.cs
  Rhythm/Views/LoginPage.xaml
  Rhythm/Views/LoginPage.xaml.cs
  Rhythm/Views/RegisterPage.xaml
  Rhythm/Views/RegisterPage.xaml.cs
  Rhythm/Views/SettingsPage.xaml
  Rhythm/Views/SettingsPage.xaml.cs
Due: Format, xstyler

feat: Update loading progress rings
  Rhythm/Views/LoginPage.xaml
  Rhythm/Views/LoginPage.xaml.cs
  Rhythm/Views/RegisterPage.xaml
  Rhythm/Views/RegisterPage.xaml.cs
Due: Format, xstyler

ci: Add arm64 to release builds
  .github/workflows/build.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
Due: none

Registration Page Changed
  Rhythm/Views/LoginPage.xaml
  Rhythm/Views/RegisterPage.xaml
  Rhythm/Views/RegisterPage.xaml.cs
Due: Format, xstyler

feat: Complete settings page
  Rhythm.Core/Models/RhythmUser.cs
  Rhythm.Core/Rhythm.Core.csproj
  Rhythm/Assets/user.png
  Rhythm/Helpers/BitmapHelper.cs
  Rhythm/Services/AppNotificationService.cs
  Rhythm/Strings/en-us/Resources.resw
  Rhythm/ViewModels/SettingsViewModel.cs
  Rhythm/Views/RegisterPage.xaml.cs
  Rhythm/Views/SettingsPage.xaml
  Rhythm/Views/SettingsPage.xaml.cs
  Rhythm/Views/ShellPage.xaml
Due: Format, xstyler

feat: Add shimmer loader support
  Rhythm.Core/Rhythm.Core.csproj
  Rhythm/Helpers/BooleanToVisibilityConverter.cs
  Rhythm/Package.appxmanifest
  Rhythm/Rhythm.csproj
  Rhythm/ViewModels/SettingsViewModel.cs
  Rhythm/Views/SettingsPage.xaml
  Rhythm/Views/SettingsPage.xaml.cs
Due: Format, xstyler

feat: Add regex validation for registration
  Rhythm/Rhythm.csproj
  Rhythm/Views/RegisterPage.xaml
  Rhythm/Views/RegisterPage.xaml.cs
Due: Format, xstyler

chore: Add external nuget sources
  Rhythm/Rhythm.csproj
Due: Format

chore: Add redirection to main page after login
  Rhythm/Views/LoginPage.xaml.cs
Due: Format

feat: Update settings page to allow account deletion
  Rhythm/Services/ActivationService.cs
  Rhythm/ViewModels/SettingsViewModel.cs
  Rhythm/Views/LoginPage.xaml
  Rhythm/Views/LoginPage.xaml.cs
  Rhythm/Views/RegisterPage.xaml
  Rhythm/Views/RegisterPage.xaml.cs
  Rhythm/Views/SettingsPage.xaml
  Rhythm/Views/SettingsPage.xaml.cs
Due: Format, xstyler

refactor: Edit RhythmUsers model to allow optional country and gender
  Rhythm.Core/Models/RhythmUser.cs
  Rhythm/ViewModels/SettingsViewModel.cs
Due: Format

Add files via upload
  Privacy Policy.docx
  Terms and Conditions.md
Due: none

Delete Privacy Policy.docx
  Privacy Policy.docx
Due: none

Delete Terms and Conditions.md
  Terms and Conditions.md
Due: none

Add files via upload
  PrivacyPolicy.md
  TermsAndConditions.md
Due: none

feat:Add Privacy and TOS Links
  Rhythm/Services/DatabaseService.cs
  Rhythm/Strings/en-us/Resources.resw
  Rhythm/Views/LoginPage.xaml
  Rhythm/Views/SettingsPage.xaml
Due: Format, xstyler

Update Connection String
  Rhythm/Services/DatabaseService.cs
Due: Format

style: fix formatting
  PrivacyPolicy.md
  Rhythm.Core/Models/RhythmAlbum.cs
  Rhythm.Core/Models/RhythmArtist.cs
  Rhythm.Core/Models/RhythmTrack.cs
  Rhythm.Core/Models/RhythmUser.cs
  Rhythm/Contracts/Services/IDatabaseService.cs
  Rhythm/Contracts/Services/ILocalSettingsService.cs
  Rhythm/Controls/LyricsControl.xaml
  Rhythm/Controls/LyricsControl.xaml.cs
  Rhythm/Controls/RhythmMediaPlayer.xaml
  Rhythm/Controls/RhythmMediaPlayer.xaml.cs
  Rhythm/Controls/RhythmQueueControl.xaml
  Rhythm/Controls/RhythmQueueControl.xaml.cs
  Rhythm/Controls/TrackInfoControl.xaml
  Rhythm/Controls/TrackInfoControl.xaml.cs
  Rhythm/Controls/VolumeControl.xaml
  Rhythm/Controls/VolumeControl.xaml.cs
  Rhythm/Helpers/PlayPauseConverter.cs
  Rhythm/Services/ActivationService.cs
  Rhythm/Services/DatabaseService.cs
  Rhythm/Services/LocalSettingsService.cs
  Rhythm/Styles/CustomStyles.xaml
  Rhythm/Styles/RhythmFlyout.xaml
  Rhythm/ViewModels/MainViewModel.cs
  Rhythm/ViewModels/SettingsViewModel.cs
  Rhythm/ViewModels/ShellViewModel.cs
  Rhythm/Views/LoginPage.xaml.cs
  Rhythm/Views/MainPage.xaml
  Rhythm/Views/MainPage.xaml.cs
  Rhythm/Views/RegisterPage.xaml.cs
  Rhythm/Views/SettingsPage.xaml.cs
  Rhythm/Views/ShellPage.xaml
  Rhythm/Views/ShellPage.xaml.cs
  TermsAndConditions.md
Due: Format, xstyler

feat: Add playlist suppport
  Rhythm.Core/Models/RhythmAlbum.cs
  Rhythm.Core/Models/RhythmPlaylist.cs
  Rhythm/Contracts/Services/IDatabaseService.cs
  Rhythm/Controls/RhythmMediaPlayer.xaml.cs
  Rhythm/Services/DatabaseService.cs
  Rhythm/Views/MainPage.xaml.cs
Due: Format

feat: Add user history and play state support
  Rhythm.Core/Models/RhythmPlayState.cs
  Rhythm.Core/Models/RhythmTrack.cs
  Rhythm/App.xaml.cs
  Rhythm/Assets/track.jpeg
  Rhythm/Controls/RhythmMediaPlayer.xaml.cs
  Rhythm/Controls/RhythmQueueControl.xaml.cs
  Rhythm/Services/ActivationService.cs
  Rhythm/Services/DatabaseService.cs
  Rhythm/Views/MainPage.xaml.cs
Due: Format

refactor: Modify images and media to use urls for now
  Rhythm.Core/Models/RhythmAlbum.cs
  Rhythm.Core/Models/RhythmTrack.cs
  Rhythm/Contracts/Services/IDatabaseService.cs
  Rhythm/Controls/RhythmMediaPlayer.xaml.cs
  Rhythm/Controls/RhythmQueueControl.xaml.cs
  Rhythm/Services/DatabaseService.cs
  Rhythm/Views/MainPage.xaml.cs
Due: Format

feat: Modify to stream from youtube
  Rhythm/Controls/RhythmMediaPlayer.xaml.cs
  Rhythm/Controls/RhythmQueueControl.xaml.cs
  Rhythm/Rhythm.csproj
  Rhythm/Views/MainPage.xaml.cs
Due: Format

refactor: Remove unused cover bytes and trackstreams
  Rhythm.Core/Models/RhythmAlbum.cs
  Rhythm/Contracts/Services/IDatabaseService.cs
  Rhythm/Controls/RhythmMediaPlayer.xaml.cs
  Rhythm/Controls/RhythmQueueControl.xaml.cs
  Rhythm/Services/DatabaseService.cs
  Rhythm/Views/SettingsPage.xaml
Due: Format, xstyler

feat: Add supabase for bucket storage support
  .github/workflows/build.yml
  .github/workflows/release.yml
  Rhythm.Core/Models/RhythmArtist.cs
  Rhythm.Core/Models/RhythmPlaylist.cs
  Rhythm.Core/Models/RhythmUser.cs
  Rhythm/App.xaml.cs
  Rhythm/Contracts/Services/IStorageService.cs
  Rhythm/Helpers/BitmapHelper.cs
  Rhythm/Helpers/ImageHelper.cs
  Rhythm/Rhythm.csproj
  Rhythm/Services/ActivationService.cs
  Rhythm/Services/DatabaseService.cs
  Rhythm/Services/StorageService.cs
  Rhythm/ViewModels/SettingsViewModel.cs
  Rhythm/Views/MainPage.xaml.cs
  Rhythm/Views/RegisterPage.xaml
  Rhythm/Views/RegisterPage.xaml.cs
  Rhythm/Views/SettingsPage.xaml.cs
Due: Format, xstyler

fix: Fix user not being loaded on login
  Rhythm/App.xaml.cs
  Rhythm/Services/ActivationService.cs
  Rhythm/Views/LoginPage.xaml.cs
  Rhythm/Views/SettingsPage.xaml.cs
Due: Format

refactor: Fix warning refactor and add publish profiles
  .gitignore
  Rhythm.Core/Models/RhythmAlbum.cs
  Rhythm.Core/Services/SampleDataService.cs
  Rhythm/Activation/AppNotificationActivationHandler.cs
  Rhythm/Controls/RhythmMediaPlayer.xaml.cs
  Rhythm/Controls/RhythmQueueControl.xaml.cs
  Rhythm/Controls/VolumeControl.xaml
  Rhythm/Controls/VolumeControl.xaml.cs
  Rhythm/Helpers/NavigationHelper.cs
  Rhythm/Helpers/RuntimeHelper.cs
  Rhythm/Helpers/SettingsStorageExtensions.cs
  Rhythm/Helpers/TitleBarHelper.cs
  Rhythm/Properties/PublishProfiles/win-arm64.pubxml
  Rhythm/Properties/PublishProfiles/win-x64.pubxml
  Rhythm/Properties/PublishProfiles/win-x86.pubxml
  Rhythm/Rhythm.csproj
  Rhythm/Services/ActivationService.cs
  Rhythm/Services/AppNotificationService.cs
  Rhythm/Services/LocalSettingsService.cs
  Rhythm/Strings/en-us/Resources.resw
  Rhythm/ViewModels/ListDetailsViewModel.cs
  Rhythm/Views/MainPage.xaml.cs
  Rhythm/Views/RegisterPage.xaml.cs
  Rhythm/Views/SettingsPage.xaml.cs
  scripts/dev.ps1
Due: Format, xstyler

feat: Add publish profiles
  Rhythm/Contracts/Services/IStorageService.cs
  Rhythm/Helpers/BitmapHelper.cs
  Rhythm/Helpers/BooleanToVisibilityConverter.cs
  Rhythm/Helpers/ImageHelper.cs
  Rhythm/Helpers/PlayPauseConverter.cs
  Rhythm/Properties/PublishProfiles/win-arm64.pubxml
  Rhythm/Properties/PublishProfiles/win-x64.pubxml
  Rhythm/Properties/PublishProfiles/win-x86.pubxml
  Rhythm/Rhythm.csproj
  Rhythm/Services/StorageService.cs
  scripts/dev.ps1
Due: Format

feat: Complete Home page and album page
  Rhythm.Core/Models/RhythmAlbum.cs
  Rhythm.Core/Models/RhythmArtist.cs
  Rhythm.Core/Models/RhythmTrack.cs
  Rhythm/App.xaml.cs
  Rhythm/Controls/RhythmMediaPlayer.xaml
  Rhythm/Controls/RhythmMediaPlayer.xaml.cs
  Rhythm/Controls/RhythmQueueControl.xaml
  Rhythm/Controls/RhythmQueueControl.xaml.cs
  Rhythm/Rhythm.csproj
  Rhythm/Services/DatabaseService.cs
  Rhythm/Services/PageService.cs
  Rhythm/Strings/en-us/Resources.resw
  Rhythm/Styles/Thickness.xaml
  Rhythm/ViewModels/AlbumDetailViewModel.cs
  Rhythm/ViewModels/MainViewModel.cs
  Rhythm/Views/AlbumDetailPage.xaml
  Rhythm/Views/AlbumDetailPage.xaml.cs
  Rhythm/Views/ContentGridDetailPage.xaml
  Rhythm/Views/ContentGridPage.xaml
  Rhythm/Views/MainPage.xaml
  Rhythm/Views/MainPage.xaml.cs
  Rhythm/Views/ShellPage.xaml
Due: Format, xstyler

feat: Add playlist page, and ui improvements
  Rhythm.Core/Models/RhythmTrack.cs
  Rhythm/App.xaml.cs
  Rhythm/Controls/HeaderImageControl.xaml
  Rhythm/Controls/HeaderImageControl.xaml.cs
  Rhythm/Controls/RhythmMediaPlayer.xaml
  Rhythm/Controls/RhythmMediaPlayer.xaml.cs
  Rhythm/Rhythm.csproj
  Rhythm/Services/DatabaseService.cs
  Rhythm/Services/PageService.cs
  Rhythm/ViewModels/MainViewModel.cs
  Rhythm/ViewModels/PlaylistDetailViewModel.cs
  Rhythm/Views/PlaylistDetailPage.xaml
  Rhythm/Views/PlaylistDetailPage.xaml.cs
Due: Format, xstyler

feat: Add like system and current track system
  Rhythm.Core/Models/RhythmTrack.cs
  Rhythm/App.xaml.cs
  Rhythm/Contracts/Services/IDatabaseService.cs
  Rhythm/Controls/HeaderImageControl.xaml
  Rhythm/Helpers/CurrentTrackConverter.cs
  Rhythm/Helpers/LikedTrackConverter.cs
  Rhythm/Services/DatabaseService.cs
  Rhythm/ViewModels/AlbumDetailViewModel.cs
  Rhythm/ViewModels/PlaylistDetailViewModel.cs
  Rhythm/Views/AlbumDetailPage.xaml
  Rhythm/Views/AlbumDetailPage.xaml.cs
  Rhythm/Views/PlaylistDetailPage.xaml
  Rhythm/Views/PlaylistDetailPage.xaml.cs
Due: Format, xstyler

feat: Add dynamic track system
  Rhythm/Controls/RhythmMediaPlayer.xaml.cs
  Rhythm/ViewModels/AlbumDetailViewModel.cs
  Rhythm/ViewModels/PlaylistDetailViewModel.cs
  Rhythm/Views/AlbumDetailPage.xaml
  Rhythm/Views/AlbumDetailPage.xaml.cs
  Rhythm/Views/PlaylistDetailPage.xaml
  Rhythm/Views/PlaylistDetailPage.xaml.cs
Due: Format, xstyler

feat: Optimise queries
  Rhythm.Core/Models/RhythmTrack.cs
  Rhythm/Contracts/Services/IDatabaseService.cs
  Rhythm/Controls/RhythmMediaPlayer.xaml.cs
  Rhythm/Services/DatabaseService.cs
Due: Format

feat: Optimise queries
  Rhythm/Contracts/Services/IDatabaseService.cs
  Rhythm/Controls/RhythmMediaPlayer.xaml.cs
  Rhythm/Services/DatabaseService.cs
Due: Format

ArtistPage Created
  Rhythm/App.xaml.cs
  Rhythm/Services/PageService.cs
  Rhythm/ViewModels/ArtistDetailViewModel.cs
  Rhythm/ViewModels/MainViewModel.cs
  Rhythm/ViewModels/ShellViewModel.cs
  Rhythm/Views/ArtistDetailPage.xaml
  Rhythm/Views/ArtistDetailPage.xaml.cs
Due: Format, xstyler

feat: Complete basic artist page
  Rhythm/ViewModels/AlbumDetailViewModel.cs
  Rhythm/ViewModels/ArtistDetailViewModel.cs
  Rhythm/ViewModels/PlaylistDetailViewModel.cs
  Rhythm/Views/AlbumDetailPage.xaml
  Rhythm/Views/AlbumDetailPage.xaml.cs
  Rhythm/Views/ArtistDetailPage.xaml
  Rhythm/Views/ArtistDetailPage.xaml.cs
  Rhythm/Views/PlaylistDetailPage.xaml
  Rhythm/Views/PlaylistDetailPage.xaml.cs
Due: Format, xstyler

ToolBar Created
  Rhythm/ViewModels/AlbumDetailViewModel.cs
  Rhythm/ViewModels/PlaylistDetailViewModel.cs
  Rhythm/Views/AlbumDetailPage.xaml
  Rhythm/Views/AlbumDetailPage.xaml.cs
  Rhythm/Views/ArtistDetailPage.xaml
  Rhythm/Views/PlaylistDetailPage.xaml
  Rhythm/Views/PlaylistDetailPage.xaml.cs
  Rhythm/Views/ShellPage.xaml
Due: Format, xstyler

feat: Polish toolbars for user actions
  Rhythm/Controls/RhythmMediaPlayer.xaml.cs
  Rhythm/Views/AlbumDetailPage.xaml
  Rhythm/Views/AlbumDetailPage.xaml.cs
  Rhythm/Views/ArtistDetailPage.xaml
  Rhythm/Views/ArtistDetailPage.xaml.cs
  Rhythm/Views/PlaylistDetailPage.xaml
  Rhythm/Views/PlaylistDetailPage.xaml.cs
  Rhythm/Views/ShellPage.xaml
Due: Format, xstyler

feat: Create TrackDetailPage
  Rhythm/App.xaml.cs
  Rhythm/Controls/LyricsControl.xaml.cs
  Rhythm/Services/PageService.cs
  Rhythm/ViewModels/MainViewModel.cs
  Rhythm/ViewModels/TrackDetailViewModel.cs
  Rhythm/Views/TrackDetailPage.xaml
  Rhythm/Views/TrackDetailPage.xaml.cs
Due: Format, xstyler
