Repository FallenDeity/Rhythm: changes, and which pre-commit hooks are due for each by the changed paths.
All: Format, xstyler

.pre-commit-config.yaml:

repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md
      - id: check-toml
      - id: check-added-large-files
      - id: check-xml

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-use-type-annotations
      - id: python-check-blanket-noqa

    # C# WinUi App
  - repo: local
    hooks:
      - id: Format
        name: Format
        entry: dotnet
        language: system
        types: [file]
        files: \.(cs|csproj|vb|xaml)$
        args: [format, Rhythm.sln]
        pass_filenames: false
        description: "Format C# and XAML files"
        exclude: ^obj/|^bin/

      - id: xstyler
        name: xstyler
        entry: xstyler
        language: system
        types: [file]
        files: \.(xaml)$
        args: [-r, -d, ./, -c, Settings.XamlStyler]
        pass_filenames: false
        description: "Format C# and XAML files"
        exclude: ^obj/|^bin/|^build/

      - id: Restore
        name: Restore
        entry: dotnet
        language: system
        args: [msbuild, Rhythm.sln, '/t:Restore', '/p:Configuration=Release']
        pass_filenames: false
        description: "Restore the application"

      - id: Build x86
        name: Build x86
        entry: dotnet
        language: system
        args: [msbuild, Rhythm.sln, '/p:Configuration=Release', '/p:Platform=x86', '/p:UapAppxPackageBuildMode=SideloadOnly', '/p:AppxBundle=Never', '/p:PackageCertificateKeyFile=Rhythm_TemporaryKey.pfx', '/p:AppxPackageDir="../build/"', '/p:GenerateAppxPackageOnBuild=true']
        pass_filenames: false
        description: "Build the application"

      - id: Build x64
        name: Build x64
        entry: dotnet
        language: system
        args: [msbuild, Rhythm.sln, '/p:Configuration=Release', '/p:Platform=x64', '/p:UapAppxPackageBuildMode=SideloadOnly', '/p:AppxBundle=Never', '/p:PackageCertificateKeyFile=Rhythm_TemporaryKey.pfx', '/p:AppxPackageDir="../build/"', '/p:GenerateAppxPackageOnBuild=true']
        pass_filenames: false
        description: "Build the application"

feat: Add search page
  Rhythm.Core/Models/RhythmUser.cs
  Rhythm/App.xaml.cs
  Rhythm/Contracts/Services/IDatabaseService.cs
  Rhythm/Helpers/IncrementalLoaders.cs
  Rhythm/Rhythm.csproj
  Rhythm/Services/DatabaseService.cs
  Rhythm/Services/PageService.cs
  Rhythm/Strings/en-us/Resources.resw
  Rhythm/ViewModels/AlbumDetailViewModel.cs
  Rhythm/ViewModels/ArtistDetailViewModel.cs
  Rhythm/ViewModels/PlaylistDetailViewModel.cs
  Rhythm/ViewModels/SearchViewModel.cs
  Rhythm/ViewModels/SettingsViewModel.cs
  Rhythm/Views/AlbumDetailPage.xaml
  Rhythm/Views/AlbumDetailPage.xaml.cs
  Rhythm/Views/ArtistDetailPage.xaml
  Rhythm/Views/ArtistDetailPage.xaml.cs
  Rhythm/Views/MainPage.xaml.cs
  Rhythm/Views/PlaylistDetailPage.xaml
  Rhythm/Views/PlaylistDetailPage.xaml.cs
  Rhythm/Views/SearchPage.xaml
  Rhythm/Views/SearchPage.xaml.cs
  Rhythm/Views/SettingsPage.xaml.cs
  Rhythm/Views/ShellPage.xaml
Due: Format, xstyler

style: Fix styling
  Rhythm/Services/PageService.cs
Due: Format

feat: Change TrackDetailPage
  Rhythm/Controls/LyricsControl.xaml
  Rhythm/ViewModels/ArtistDetailViewModel.cs
  Rhythm/ViewModels/TrackDetailViewModel.cs
  Rhythm/Views/TrackDetailPage.xaml
  Rhythm/Views/TrackDetailPage.xaml.cs
Due: Format, xstyler

style: Switch to functions for toggling
  Rhythm/Services/DatabaseService.cs
  Rhythm/Views/AlbumDetailPage.xaml.cs
  Rhythm/Views/ArtistDetailPage.xaml.cs
  Rhythm/Views/PlaylistDetailPage.xaml.cs
  Rhythm/Views/TrackDetailPage.xaml.cs
Due: Format

feat: Complete library page
  Rhythm/App.xaml.cs
  Rhythm/Helpers/IncrementalLoaders.cs
  Rhythm/Services/DatabaseService.cs
  Rhythm/Services/PageService.cs
  Rhythm/Strings/en-us/Resources.resw
  Rhythm/ViewModels/LibraryViewModel.cs
  Rhythm/ViewModels/MainViewModel.cs
  Rhythm/Views/AlbumDetailPage.xaml
  Rhythm/Views/ArtistDetailPage.xaml
  Rhythm/Views/LibraryPage.xaml
  Rhythm/Views/LibraryPage.xaml.cs
  Rhythm/Views/PlaylistDetailPage.xaml
  Rhythm/Views/SearchPage.xaml.cs
  Rhythm/Views/ShellPage.xaml
  Rhythm/Views/TrackDetailPage.xaml
Due: Format, xstyler

feat: Allow editing playlist contents
  Rhythm/Contracts/Services/IDatabaseService.cs
  Rhythm/Services/DatabaseService.cs
  Rhythm/Views/AlbumDetailPage.xaml
  Rhythm/Views/AlbumDetailPage.xaml.cs
  Rhythm/Views/ArtistDetailPage.xaml
  Rhythm/Views/ArtistDetailPage.xaml.cs
  Rhythm/Views/PlaylistDetailPage.xaml
  Rhythm/Views/PlaylistDetailPage.xaml.cs
  Rhythm/Views/SearchPage.xaml
  Rhythm/Views/SearchPage.xaml.cs
  Rhythm/Views/ShellPage.xaml
  Rhythm/Views/ShellPage.xaml.cs
Due: Format, xstyler

Update README.md
  README.md
Due: none

[ImgBot] Optimize images
  Assets/album.png
  Assets/artist.png
  Assets/demo.png
  Assets/main-page.png
  Assets/playlist.png
  Assets/search.png
  Assets/themes.png
  Rhythm/Assets/user.png
Due: none
